.home-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.weather-section {
 margin: 0 16px;
}

.schedule-section {
 margin: 0 16px;
 display: flex;
 flex-direction: column;
 gap: 16px;
}


.tasks-section {
 margin: 0 16px;
}

.icon-debug svg,
.icon-debug {
  display: block !important;
  color: #111 !important;
  stroke: currentColor !important;
  fill: none !important;
  width: 28px !important;
  height: 28px !important;
  opacity: 1 !important;
  transform: none !important;
}