.task-detail {
    min-height: 100vh;
    padding: 24px;
}

.task-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.task-detail-title {
    height: 48px;
}

.task-header-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.task-detail-title h1 {
    font-size: 18px;
    padding-bottom: 2px;
}

.task-detail-title .time {
    font-size: 14px;
    opacity: 0.8;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    background: rgb(255, 255, 255);
    color: #000;
}

.task-steps {
    margin-top: 20px;
}

.plan-list {
    background: #ffffff9b;
    border-radius: 20px;
    padding: 16px;
    list-style: none;
}

.plan-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.step-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
}

.plan-item:last-child {
    border-bottom: none;
}

.summary-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.pill {
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    color: #000;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    width: fit-content;

}

.summary {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--color-black);
}

.pill.dark {
    background: black;
    color: white;
}